body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links in the navigation bar */

nav a {
  float: left;
}

.alert-banner {
  /* width: 100%; */
  height: 40px;
  background-color: #ffcf3a;
  color: black;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
}

.alert-banner span {
  font-weight: bold;
  text-decoration: underline;
  padding-left: 5px;
}

nav {
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
  height: 20%;
  padding-top: 15px;
}

span.logo {
  color: white;
  background-color: orange;
}

.container {
}

.landing.satisfaction {
  color: orange;
}

.landing.tutoring {
  color: black;
  font-size: 100px;
}

.landing.bank {
  color: #ffcf3a;
  font-weight: bold;
  font-size: 60px;
}

.landing.info {
  color: black;
  font-size: 30px;
}

.image-rounded {
  width: 10%;
}

ul {
  list-style: none;
  display: flex;
}

li,
a {
  margin: 0 10px;
  transition: all;
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
  font-weight: bold;
  transform: translateY(-5px);
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}

.statistic-banner {
  left: 0;
  background-color: #0062ff;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  color: white;
  /* brings the banner lower then the last row element (is this the best way to go about this?) */
  margin-top: 5%;
  padding-left: 10%;
}

.section {
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-top: 35px;
}

.section span {
  color: #d1d2d2;
}

.dash {
  border-left: 1px solid white;
  height: 60%;
  justify-self: center;
}

a.button {
  display: inline-block;

  text-decoration: none;
  font-size: 20px;

  color: black;
  background-color: #ffcf3a;
  border: #ffcf3a;
  border-radius: 200px;

  padding: 0.3em 1.2em;
  margin: 5px;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #ffcf3a 50%);
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
}

a.button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #ffcf3a;
  background-position: -100% 100%;
}

footer {
  background-color: #0062ff;
  margin-top: 35px;
}

.benefit-cards-container {
  background-color: rgb(166, 172, 166);
  height: 200px;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
